<div class="item">
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
    <div class="item__minute"></div>
</div>